body{
    background-color: #131415;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.color-azul{
    color: blue;
}
.b-color{
    background-color: white;
}

.hidden{
    display: none;
}